@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('../fonts/PoppinsRegular.woff2') format('woff2'),
        url('../fonts/PoppinsRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('../fonts/PoppinsMedium.woff2') format('woff2'),
        url('../fonts/PoppinsMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('../fonts/PoppinsSemiBold.woff2') format('woff2'),
        url('../fonts/PoppinsSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: local('Poppins'),
        url('../fonts/PoppinsBold.woff2') format('woff2'),
        url('../fonts/PoppinsBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}