.header__border-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 22px;
    padding-right: 29px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 64%;
}

.nav__item {
    min-width: 89px;
}

.nav__link {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    color: var(--text-color);
}